<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Poppins Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <!-- Poppins Font -->
    <style>
    /* add style here */
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <!-- Azert Mono Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap" rel="stylesheet">
    <!-- Azert Mono Font-->
    <style>
      /* Navbar */
      body{
   background-image: url("../static/bg2.png");
   background-repeat: no-repeat;
   background-size: cover;
      }
.navbar-container{
    background-color: black;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav-item2{
    font-family: 'Azeret Mono', monospace;
    font-size: 3em;
    color: white;
}
.nav-logo-link{
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-family: 'Azeret Mono', monospace;
}
.nav-link:hover{
    text-decoration: none;
    color: #45cb85;
    transition: 0.2s;
}
.button-link{
    text-decoration: none;
    color: white;
    font-family: 'Azeret Mono', monospace;
}
.nav-item9{
    border-radius: 5px;
    padding: 12px 18px;
    margin: 0.618em;
    background-color: #45cb85;
}
.nav-item9:hover{
    background-color: #75d6a4;
    transition: 0.2s;
}
/* Navbar */
    </style>
</head>
<body>
  <!-- Navbar -->
  <div class="navbar-container">
    <div class="nav-item1"></div>
    <a href="#" class="nav-logo-link"><div class="nav-item2">FTnator</div></a>
    <div class="nav-item3"></div>
    <a href="#" class="nav-link"><div class="nav-item4">Tools</div></a>
    <a href="#" class="nav-link"><div class="nav-item5">Stocks</div></a>
    <a href="#" class="nav-link"><div class="nav-item6">Blogs</div></a>
    <a href="#" class="nav-link"><div class="nav-item7">Donate</div></a>
    <a href="#" class="nav-link"><div class="nav-item8">About Us</div></a>
    <a href="blogs.html" class="button-link"><div class="nav-item9">Subscribe to our newsletter</div></a>
</div>
<!-- Navbar -->
    <div class="jumbotron" style="background-color: lightgray;
    padding: 20px;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 6px 6px 2px 1px grey;">
        <div class="container">
         <h2 style="grid-area: heading;
         padding: 12px 18px;
         margin: 0 0.618em 0 0.618em;
         font-family: 'Poppins', sans-serif;
         font-size: 42px;
         letter-spacing: 0.03em;
         justify-self: center;">Currency Calculator</h2>
         <p class="lead" style="font-size: 24px; margin: 0; font-family: 'Poppins', sans-serif; display: inline;">Convert the currency:</p>
         <form class="form-inline">
           <div class="form-group mb-2">
              <input type="number" class="form-control" id="amount" style="font-size: 24px; margin: 0; font-family: 'Poppins', sans-serif;"/>
           </div>
           <div class="form-group mx-sm-3 mb-2">
              <select class="form-control" id="currency-1" required style="padding: 10px; margin-top: 1em;">
                <option>INR</option>
                <option>EUR</option>
                <option>USD</option>
                <option>AUD</option>
                <option>YEN</option>
                <option>FRF</option>
                <option>PKR</option>
                <option>GBP</option>
              </select>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label style="font-size: 24px; margin: 0; font-family: 'Poppins', sans-serif; display: inline;">convert to:</label>
              <select class="form-control" id="currency-2" required style="padding: 10px; margin: 1em;">
                <option>INR</option>
                <option>EUR</option>
                <option>USD</option>
                <option>AUD</option>
                <option>YEN</option>
                <option>FRF</option>
                <option>PKR</option>
                <option>GBP</option>
              </select>
            </div>  
            <button class="btn calculate-btn btn-primary mb-2" style="padding: 20px;">Show me the result!</button>
          </form>
          <div class="result" style="font-size: 24px; margin: 0; font-family: 'Poppins', sans-serif; display: inline;">
            <p>
              <span class="given-amount"></span> 
              <span class="base-currency"></span>
              <span class="final-result"></span> 
              <span class="second-currency"></span>
            </p>
          </div>
        </div> 
      </div>
          <div style=" border-radius: 20px; padding:10px 50px 10px 50px; height: 50px; width: 300px; background: black;"><a style="text-decoration: none; color: white;" href="/">Return To HOMEPAGE</a></div>

  <script>

        var curry={'INR':{'USD':0.014,'EUR':0.012,'YEN':1.50,'AUD':0.018,'GBP':0.0099,'FRF':0.07565,'PKR':2.29},
        'USD':{'INR':72.99,'EUR':0.84,'YEN':109.71,'AUD':1.34,'GBP':0.72,'FRF':5.52282,'PKR':167.22},
        'EUR':{'USD':1.19,'INR':86.74,'YEN':130.38,'AUD':1.59,'GBP':0.86,'FRF':6.55957,'PKR':198.71},
        'YEN':{'USD':0.0091,'EUR':0.0077,'INR':0.67,'AUD':0.012,'GBP':0.0066,'FRF':0.0503276,'PKR':1.52},
        'AUD':{'USD':0.75,'EUR':0.63,'YEN':81.84,'INR':54.44,'GBP':0.54,'FRF':4.1178925,'PKR':124.72},
        'GBP':{'USD':1.39,'EUR':1.17,'YEN':151.91,'AUD':1.86,'INR':101.21,'FRF':7.654369,'PKR':231.84},
        'FRF':{'USD':0.181175,'EUR':0.152449,'YEN':19.93,'AUD':0.242944,'GBP':0.130641,'INR':13.2188,'PKR':30.2971},
        'PKR':{'USD':0.0060,'EUR':0.0050,'YEN':0.66,'AUD':0.0080,'GBP':0.0044,'FRF':0.0330065,'INR':0.44}}
        var btn = document.querySelector('.calculate-btn');
        var baseCurrencyInput = document.getElementById('currency-1');
        var secondCurrencyInput = document.getElementById('currency-2');
        var amountInput = document.getElementById('amount');
        var toShowAmount = document.querySelector('.given-amount');
        var toShowBase = document.querySelector('.base-currency');
        var toShowSecond = document.querySelector('.second-currency');
        var toShowResult = document.querySelector('.final-result');

        function convertCurrency(event) {
        event.preventDefault();
        var amount = amountInput.value;
        var from = baseCurrencyInput.value;
        var to = secondCurrencyInput.value;
        var result = 0;
        
        try{
            if (from == to){
            result = amount;
            } else {
            result = amount * curry[from][to];
        }
        }
        catch(err) {
            result = amount * (1 / curry[to][from]);
        }
        
        toShowAmount.innerHTML = amount;
        toShowBase.textContent = from + ' = ';
        toShowSecond.textContent = to;
        toShowResult.textContent = result; 
        }

        btn.addEventListener('click', convertCurrency);

  </script>    
</body>
</html>